In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]], columns=["A", "B", "C"], index=["u","v","w", "x"])

In [4]:
df.head()

    A   B   C
u   1   2   3
v   4   5   6
w   7   8   9
x  10  11  12

In [7]:
log=pd.read_csv('./complete-pandas-tutorial/data/acdlog_oracle_db.csv', low_memory=False)

In [8]:
log.head()

,ENTRYDATE,TIME,CALLID,Q_NAME,Q_AGENT,Q_EVENT,DATA1,DATA2,DATA3,DATA4,DATA5,CONTAINER_ID,SKILLSET,CIRCLE,ZONE,AGENT_NAME,STATE
0,2024-11-02 01:40:30.000,2024-11-01 13:35:10.000,1730448292.306616,6200,PJSIP/2294,COMPLETEAGENT,16.0,2,1.0,NaN,NaN,WBACDIVRSDC0007,SK_SET:LL_Bfoneser_Hin_KOL,KOL,EZ,Babita kumari show,NaN
1,2024-11-02 01:40:30.000,2024-11-01 13:35:10.000,1730448149.306601,6200,PJSIP/2289,COMPLETECALLER,1.0,160,1.0,NaN,NaN,WBACDIVRSDC0007,SK_SET:NV_NVSer_Ben_KOL,KOL,EZ,Amisha Shaw,NaN
2,2024-11-02 01:40:30.000,2024-11-01 13:35:13.000,1730448313.306628,6200,NONE,ENTERQUEUE,NaN,9475364904,1.0,NaN,NaN,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Ben_LSA_WB,LSA WB,EZ,NaN,NaN
3,2024-11-02 01:40:30.000,2024-11-01 13:35:14.000,1730448313.306628,6200,PJSIP/2311,CONNECT,1.0,1730448313.306629,0.0,NaN,NaN,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Ben_LSA_WB,LSA WB,EZ,Lipika Mondal,NaN
4,2024-11-02 01:40:30.000,2024-11-01 13:35:28.000,1730448328.306630,6200,NONE,ENTERQUEUE,NaN,8927536640,1.0,NaN,NaN,WBACDIVRSDC0007,SK_SET:NV_NVSer_Ben_KOL,KOL,EZ,NaN,NaN

In [9]:
log.columns

Index(['ENTRYDATE', 'TIME', 'CALLID', 'Q_NAME', 'Q_AGENT', 'Q_EVENT', 'DATA1',
       'DATA2', 'DATA3', 'DATA4', 'DATA5', 'CONTAINER_ID', 'SKILLSET',
       'CIRCLE', 'ZONE', 'AGENT_NAME', 'STATE'],
      dtype='object')

In [58]:
log = log.loc[100:10000]

In [78]:
log['Q_EVENT'].unique()

array(['RINGNOANSWER', 'COMPLETEAGENT', 'ENTERQUEUE', 'CONNECT',
       'UNPAUSEALL', 'UNPAUSE', 'REMOVEMEMBER', 'COMPLETECALLER',
       'AGENTDUMP', 'ABANDON', 'RINGCANCELED', 'ADDMEMBER', 'PAUSEALL',
       'PAUSE', 'CONFIGRELOAD', 'EXITEMPTY'], dtype=object)

In [93]:
# Filter rows where Q_EVENT is in the specified list
filter_log = log.query("Q_EVENT in ['PAUSEALL','UNPAUSEALL']")
filter_log

,ENTRYDATE,TIME,CALLID,Q_NAME,Q_AGENT,Q_EVENT,DATA1,DATA2,DATA3,DATA4,DATA5,CONTAINER_ID,SKILLSET,CIRCLE,ZONE,AGENT_NAME,STATE
109,2024-11-02 01:40:30.000,2024-11-01 13:24:03.000,NONE,NONE,PJSIP/2289,UNPAUSEALL,NaN,NaN,NaN,NaN,NaN,WBACDIVRSDC0007,NaN,NaN,EZ,Amisha Shaw,NaN
818,2024-11-02 01:40:30.000,2024-11-01 21:05:56.000,NONE,NONE,PJSIP/2305,UNPAUSEALL,NaN,NaN,NaN,NaN,NaN,WBACDIVRSDC0007,NaN,NaN,EZ,Rohan Bhattacharjee,NaN
1038,2024-11-02 01:40:30.000,2024-11-01 19:47:14.000,NONE,NONE,PJSIP/2302,UNPAUSEALL,NaN,NaN,NaN,NaN,NaN,WBACDIVRSDC0007,NaN,NaN,EZ,Ranith Roy,NaN
1098,2024-11-02 01:40:30.000,2024-11-01 18:42:28.000,NONE,NONE,PJSIP/2304,PAUSEALL,NaN,NaN,NaN,NaN,NaN,WBACDIVRSDC0007,NaN,NaN,EZ,Subhajit Ghosh,NaN
1119,2024-11-02 01:40:30.000,2024-11-01 20:33:12.000,NONE,NONE,PJSIP/2305,PAUSEALL,NaN,NaN,NaN,NaN,NaN,WBACDIVRSDC0007,NaN,NaN,EZ,Rohan Bhattacharjee,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9632,2024-11-02 01:30:48.000,2024-11-01 12:56:07.000,NONE,NONE,PJSIP/1266,PAUSEALL,NaN,NaN,NaN,NaN,NaN,KRLACDIVRSSDC0001,NaN,NaN,SZ,Sona,NaN
9634,2024-11-02 01:30:48.000,2024-11-01 12:58:40.000,NONE,NONE,PJSIP/1275,PAUSEALL,NaN,NaN,NaN,NaN,NaN,KRLACDIVRSSDC0001,NaN,NaN,SZ,Vaishnavi_SBM750,NaN
9658,2024-11-02 01:30:48.000,2024-11-01 13:18:40.000,NONE,NONE,PJSIP/1266,UNPAUSEALL,NaN,NaN,NaN,NaN,NaN,KRLACDIVRSSDC0001,NaN,NaN,SZ,Sona,NaN
9789,2024-11-02 01:30:48.000,2024-11-01 13:49:21.000,NONE,NONE,PJSIP/1266,UNPAUSEALL,NaN,NaN,NaN,NaN,NaN,KRLACDIVRSSDC0001,NaN,NaN,SZ,Sona,NaN
9795,2024-11-02 01:30:48.000,2024-11-01 13:57:31.000,NONE,NONE,PJSIP/1352,PAUSEALL,NaN,NaN,NaN,NaN,NaN,KRLACDIVRSSDC0001,NaN,NaN,SZ,Gayathri_SBM794,NaN

In [59]:
# Filter rows where Q_EVENT is in the specified list
filtered_log = log.query("Q_EVENT in ['EXITEMPTY','COMPLETEAGENT','COMPLETECALLER','ABANDON']")

# Extract the unique 'callid' values
callids = filtered_log['CALLID'].unique()

# Query all rows from the original log where 'callid' matches the obtained callids
call_events = log[log['CALLID'].isin(callids)]

# Display the filtered result
print(call_events)

                     ENTRYDATE                     TIME             CALLID  \
100    2024-11-02 01:40:30.000  2024-11-01 13:21:09.000  1730447458.306459
101    2024-11-02 01:40:30.000  2024-11-01 13:11:51.000  1730446887.306390
102    2024-11-02 01:40:30.000  2024-11-01 13:13:02.000  1730446982.306404
103    2024-11-02 01:40:30.000  2024-11-01 13:13:03.000  1730446982.306404
104    2024-11-02 01:40:30.000  2024-11-01 13:14:38.000  1730446982.306404
...                        ...                      ...                ...
9992   2024-11-02 01:30:43.000  2024-11-01 15:02:22.000  1730453464.536800
9995   2024-11-02 01:30:43.000  2024-11-01 15:03:09.000  1730453301.536782
9996   2024-11-02 01:30:43.000  2024-11-01 15:03:11.000  1730453468.536804
9999   2024-11-02 01:30:43.000  2024-11-01 15:07:38.000  1730453857.536836
10000  2024-11-02 01:30:43.000  2024-11-01 15:07:55.000  1730453857.536836

      Q_NAME     Q_AGENT         Q_EVENT   DATA1              DATA2  DATA3  \
100     6200  PJSIP/2278    RINGNOANSWER  1000.0                NaN    NaN
101     6200  PJSIP/2284   COMPLETEAGENT    23.0                  1    1.0
102     6200        NONE      ENTERQUEUE     NaN         8335904030    2.0
103     6200  PJSIP/2320         CONNECT     1.0  1730446982.306405    0.0
104     6200  PJSIP/2320   COMPLETEAGENT     1.0                 95    2.0
...      ...         ...             ...     ...                ...    ...
9992    6200  PJSIP/1454  COMPLETECALLER     1.0                 77    1.0
9995    6200  PJSIP/1460  COMPLETECALLER     1.0                287    1.0
9996    6200  PJSIP/1462  COMPLETECALLER     1.0                122    1.0
9999    6200  PJSIP/1471         CONNECT     1.0  1730453857.536837    0.0
10000   6200  PJSIP/1471  COMPLETECALLER     1.0                 17    1.0

       DATA4  DATA5     CONTAINER_ID                     SKILLSET CIRCLE ZONE  \
100      NaN    NaN  WBACDIVRSDC0007   SK_SET:BB_CNPcsexe_Ben_KOL    KOL   EZ
101      NaN    NaN  WBACDIVRSDC0007  SK_SET: LL_BfoneSer_Ben_KOL    KOL   EZ
102      NaN    NaN  WBACDIVRSDC0007   SK_SET:BB_CNPcsexe_Ben_KOL    KOL   EZ
103      NaN    NaN  WBACDIVRSDC0007   SK_SET:BB_CNPcsexe_Ben_KOL    KOL   EZ
104      NaN    NaN  WBACDIVRSDC0007   SK_SET:BB_CNPcsexe_Ben_KOL    KOL   EZ
...      ...    ...              ...                          ...    ...  ...
9992     NaN    NaN  TNACDIVRSDC0002    SK_SET:BB_CNPcsexe_Tml_TL     TN   SZ
9995     NaN    NaN  TNACDIVRSDC0002    SK_SET:BB_CNPcsexe_Tml_TL     TN   SZ
9996     NaN    NaN  TNACDIVRSDC0002     SK_SET:BB_Billenq_Tml_TL     TN   SZ
9999     NaN    NaN  TNACDIVRSDC0002    SK_SET:BB_CNPcsexe_Hin_TL     TN   SZ
10000    NaN    NaN  TNACDIVRSDC0002    SK_SET:BB_CNPcsexe_Hin_TL     TN   SZ

            AGENT_NAME  STATE
100         Puja murmu    NaN
101      Shana khatoon    NaN
102                NaN    NaN
103       Soumen Garai    NaN
104       Soumen Garai    NaN
...                ...    ...
9992       Leo Shali S    NaN
9995       Vijina C U     NaN
9996         Abisha  D    NaN
9999   Abisha M-SBM348    NaN
10000  Abisha M-SBM348    NaN

[9160 rows x 17 columns]

In [60]:
call_events.shape

(9160, 17)

In [61]:
call_events.sample(10)

,ENTRYDATE,TIME,CALLID,Q_NAME,Q_AGENT,Q_EVENT,DATA1,DATA2,DATA3,DATA4,DATA5,CONTAINER_ID,SKILLSET,CIRCLE,ZONE,AGENT_NAME,STATE
3954,2024-11-02 01:38:08.000,2024-11-01 20:46:53.000,1730474155.271069,6200,PJSIP/2599,COMPLETECALLER,6.0,52,1.0,NaN,NaN,BRACDIVRSDC0006,SK_SET:BB_CNPcsexe_Hin_LSA_BR,LSA BR,EZ,Rakesh Dom,NaN
5422,2024-11-02 01:31:35.000,2024-11-01 18:04:29.000,1730464469.78779,6200,NONE,ENTERQUEUE,NaN,9864843690,1.0,NaN,NaN,ASACDIVRSDC0005,SK_SET: LL_BfoneSer_Asm_AS,AS,EZ,NaN,NaN
5046,2024-11-02 01:33:06.000,2024-11-01 13:50:14.000,1730449144.162146,6200,PJSIP/1797,RINGNOANSWER,5000.0,NaN,NaN,NaN,NaN,ORACDIVRSDC0008,SK_SET:BB_CNPcsexe_Hin_OR,OR,EZ,Mrinmoy Ruidas,NaN
9454,2024-11-02 01:30:48.000,2024-11-01 16:59:42.000,1730460320.499308,6200,PJSIP/1352,COMPLETECALLER,12.0,250,1.0,NaN,NaN,KRLACDIVRSSDC0001,SK_SET:BB_CNPcsexe_Eng_ML,KL,SZ,Gayathri_SBM794,NaN
1352,2024-11-02 01:40:30.000,2024-11-01 19:11:03.000,1730468447.308958,6200,PJSIP/2276,RINGNOANSWER,5000.0,NaN,NaN,NaN,NaN,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Hin_AN,AN,EZ,Mrinmoy Ruidas,NaN
2580,2024-11-02 01:38:08.000,2024-11-01 17:53:35.000,1730463815.270176,6200,NONE,ENTERQUEUE,NaN,8252254390,1.0,NaN,NaN,BRACDIVRSDC0006,SK_SET:BB_CNPcsexe_Hin_LSA_BR,LSA BR,EZ,NaN,NaN
1558,2024-11-02 01:40:30.000,2024-11-01 15:26:27.000,1730454986.307743,6200,PJSIP/2305,RINGNOANSWER,0.0,NaN,NaN,NaN,NaN,WBACDIVRSDC0007,SK_SET: LL_Direnq_Eng_KOL,KOL,EZ,Rohan Bhattacharjee,NaN
2170,2024-11-02 01:40:30.000,2024-11-01 14:07:41.000,1730450256.306914,6200,PJSIP/2311,RINGNOANSWER,5000.0,NaN,NaN,NaN,NaN,WBACDIVRSDC0007,SK_SET:NV_NVSer_Ben_KOL,KOL,EZ,Lipika Mondal,NaN
6867,2024-11-02 01:30:48.000,2024-11-01 16:59:08.000,1730460300.508340,6200,NONE,ABANDON,2.0,4,248.0,NaN,NaN,APACDIVRSDC0003,SK_SET:BB_CNPcsexe_Tel_TG,AP,SZ,NaN,NaN
5206,2024-11-02 01:33:06.000,2024-11-01 13:50:00.000,1730449185.162158,6200,PJSIP/1760,RINGNOANSWER,5000.0,NaN,NaN,NaN,NaN,ORACDIVRSDC0008,SK_SET:BB_CNPcsexe_Hin_OR,OR,EZ,Puja murmu,NaN

In [62]:
call_events.columns = call_events.columns.str.lower()

In [63]:
call_log= call_events.assign(
        queuename= lambda x: x.q_name.astype('category'),
        agent = lambda x: x.q_agent.astype('category'),
        event = lambda x: x.q_event.astype('category'),
    ).drop(columns=['q_name', 'q_agent', 'q_event'])

In [64]:
call_log

,entrydate,time,callid,data1,data2,data3,data4,data5,container_id,skillset,circle,zone,agent_name,state,queuename,agent,event
100,2024-11-02 01:40:30.000,2024-11-01 13:21:09.000,1730447458.306459,1000.0,NaN,NaN,NaN,NaN,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Ben_KOL,KOL,EZ,Puja murmu,NaN,6200,PJSIP/2278,RINGNOANSWER
101,2024-11-02 01:40:30.000,2024-11-01 13:11:51.000,1730446887.306390,23.0,1,1.0,NaN,NaN,WBACDIVRSDC0007,SK_SET: LL_BfoneSer_Ben_KOL,KOL,EZ,Shana khatoon,NaN,6200,PJSIP/2284,COMPLETEAGENT
102,2024-11-02 01:40:30.000,2024-11-01 13:13:02.000,1730446982.306404,NaN,8335904030,2.0,NaN,NaN,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Ben_KOL,KOL,EZ,NaN,NaN,6200,NONE,ENTERQUEUE
103,2024-11-02 01:40:30.000,2024-11-01 13:13:03.000,1730446982.306404,1.0,1730446982.306405,0.0,NaN,NaN,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Ben_KOL,KOL,EZ,Soumen Garai,NaN,6200,PJSIP/2320,CONNECT
104,2024-11-02 01:40:30.000,2024-11-01 13:14:38.000,1730446982.306404,1.0,95,2.0,NaN,NaN,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Ben_KOL,KOL,EZ,Soumen Garai,NaN,6200,PJSIP/2320,COMPLETEAGENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,2024-11-02 01:30:43.000,2024-11-01 15:02:22.000,1730453464.536800,1.0,77,1.0,NaN,NaN,TNACDIVRSDC0002,SK_SET:BB_CNPcsexe_Tml_TL,TN,SZ,Leo Shali S,NaN,6200,PJSIP/1454,COMPLETECALLER
9995,2024-11-02 01:30:43.000,2024-11-01 15:03:09.000,1730453301.536782,1.0,287,1.0,NaN,NaN,TNACDIVRSDC0002,SK_SET:BB_CNPcsexe_Tml_TL,TN,SZ,Vijina C U,NaN,6200,PJSIP/1460,COMPLETECALLER
9996,2024-11-02 01:30:43.000,2024-11-01 15:03:11.000,1730453468.536804,1.0,122,1.0,NaN,NaN,TNACDIVRSDC0002,SK_SET:BB_Billenq_Tml_TL,TN,SZ,Abisha D,NaN,6200,PJSIP/1462,COMPLETECALLER
9999,2024-11-02 01:30:43.000,2024-11-01 15:07:38.000,1730453857.536836,1.0,1730453857.536837,0.0,NaN,NaN,TNACDIVRSDC0002,SK_SET:BB_CNPcsexe_Hin_TL,TN,SZ,Abisha M-SBM348,NaN,6200,PJSIP/1471,CONNECT
10000,2024-11-02 01:30:43.000,2024-11-01 15:07:55.000,1730453857.536836,1.0,17,1.0,NaN,NaN,TNACDIVRSDC0002,SK_SET:BB_CNPcsexe_Hin_TL,TN,SZ,Abisha M-SBM348,NaN,6200,PJSIP/1471,COMPLETECALLER

In [65]:
(
    call_log
    .query("event in ['ENTERQUEUE', 'CONNECT', 'ADDMEMBER', 'COMPLETECALLER', 'COMPLETEAGENT', 'ABANDON', 'EXITEMPTY']")
    .pivot_table(index='callid', columns='event', values='time', aggfunc='first',observed=False)
    .assign(
        COMPLETE=lambda x: x['COMPLETEAGENT'].combine_first(x['COMPLETECALLER']),  # Prioritize COMPLETEAGENT, fallback to COMPLETECALLER
        AGENT_COMPLETED=lambda x: x['COMPLETEAGENT'].notna()                      # True if COMPLETEAGENT has data
    )
    [['ENTERQUEUE', 'ABANDON', 'EXITEMPTY', 'CONNECT', 'COMPLETE', 'AGENT_COMPLETED']]  # Final column selection
)

event,ENTERQUEUE,ABANDON,EXITEMPTY,CONNECT,COMPLETE,AGENT_COMPLETED
callid,,,,,,
1730444186.305990,NaN,NaN,NaN,NaN,2024-11-01 12:37:36.000,False
1730444310.506919,NaN,NaN,NaN,NaN,2024-11-01 12:30:40.000,False
1730444460.506929,2024-11-01 12:31:00.000,NaN,NaN,2024-11-01 12:31:00.000,2024-11-01 12:31:25.000,False
1730444519.506933,2024-11-01 12:31:59.000,NaN,NaN,2024-11-01 12:32:00.000,2024-11-01 12:32:12.000,True
1730444527.506935,2024-11-01 12:32:07.000,NaN,NaN,2024-11-01 12:32:07.000,2024-11-01 12:32:51.000,True
...,...,...,...,...,...,...
1730488210.310597,2024-11-02 00:40:10.000,NaN,NaN,2024-11-02 00:40:11.000,2024-11-02 00:42:26.000,False
1730488701.310605,2024-11-02 00:48:21.000,NaN,NaN,2024-11-02 00:48:32.000,2024-11-02 00:49:28.000,False
1730489060.310613,2024-11-02 00:54:20.000,NaN,NaN,2024-11-02 00:54:31.000,2024-11-02 00:57:17.000,False
1730489304.310621,2024-11-02 00:58:24.000,2024-11-02 00:58:27.000,NaN,NaN,NaN,False
1730489615.310634,2024-11-02 01:03:35.000,2024-11-02 01:03:36.000,NaN,NaN,NaN,False

In [66]:
(
    call_log.query("event=='ENTERQUEUE'")
    [['callid','time','queuename','data2']]
    .rename(columns={'data2':'src','time':'ENTERQUEUE'})
)

                 callid               ENTERQUEUE queuename         src
102   1730446982.306404  2024-11-01 13:13:02.000      6200  8335904030
119   1730447783.306558  2024-11-01 13:26:23.000      6200  9883082611
130   1730448616.306666  2024-11-01 13:40:16.000      6200  9830905647
131   1730448620.306668  2024-11-01 13:40:20.000      6200  9836457719
145   1730471317.309200  2024-11-01 19:58:37.000      6200  6296221634
...                 ...                      ...       ...         ...
9978  1730453225.536776  2024-11-01 14:57:05.000      6200  9443226647
9980  1730453315.536786  2024-11-01 14:58:35.000      6200  9840673344
9984  1730453466.536802  2024-11-01 15:01:06.000      6200  9840941686
9986  1730453468.536804  2024-11-01 15:01:08.000      6200  6369691631
9988  1730453506.536806  2024-11-01 15:01:47.000      6200  9600020482

[2747 rows x 4 columns]

In [67]:
(
    call_log.query("event=='CONNECT'")
    [['callid','time','agent','data1']]
    .assign(waited_duration  = lambda x : x.data1.astype('float'))
    .rename(columns={'time':'CONNECT'})
    
    # .info()
)

,callid,CONNECT,agent,data1,waited_duration
103,1730446982.306404,2024-11-01 13:13:03.000,PJSIP/2320,1.0,1.0
120,1730447783.306558,2024-11-01 13:26:24.000,PJSIP/2295,1.0,1.0
122,1730446228.306272,2024-11-01 13:00:39.000,PJSIP/2291,11.0,11.0
132,1730448620.306668,2024-11-01 13:40:31.000,PJSIP/2284,11.0,11.0
134,1730448616.306666,2024-11-01 13:40:37.000,PJSIP/2291,21.0,21.0
...,...,...,...,...,...
9981,1730453315.536786,2024-11-01 14:58:36.000,PJSIP/1453,1.0,1.0
9985,1730453466.536802,2024-11-01 15:01:07.000,PJSIP/1453,1.0,1.0
9987,1730453468.536804,2024-11-01 15:01:09.000,PJSIP/1462,1.0,1.0
9989,1730453506.536806,2024-11-01 15:01:47.000,PJSIP/1471,0.0,0.0
9999,1730453857.536836,2024-11-01 15:07:38.000,PJSIP/1471,1.0,1.0

In [68]:
(
    call_log.query("event in ('COMPLETECALLER','COMPLETEAGENT')")
    [['callid','time','data2']]
    .assign(call_duration  = lambda x : x.data2.astype('float'))
    .rename(columns={'time':'COMPLETE'})
)

                  callid                 COMPLETE data2  call_duration
101    1730446887.306390  2024-11-01 13:11:51.000     1            1.0
104    1730446982.306404  2024-11-01 13:14:38.000    95           95.0
123    1730447510.306479  2024-11-01 13:28:59.000   413          413.0
124    1730447753.306556  2024-11-01 13:29:05.000   191          191.0
125    1730447842.306571  2024-11-01 13:29:11.000   103          103.0
...                  ...                      ...   ...            ...
9991   1730453466.536802  2024-11-01 15:02:20.000    73           73.0
9992   1730453464.536800  2024-11-01 15:02:22.000    77           77.0
9995   1730453301.536782  2024-11-01 15:03:09.000   287          287.0
9996   1730453468.536804  2024-11-01 15:03:11.000   122          122.0
10000  1730453857.536836  2024-11-01 15:07:55.000    17           17.0

[2714 rows x 4 columns]

In [69]:
(
    call_log.query("event in ('ABANDON','EXITEMPTY')")
    [['callid','time','data3','event']]
    .assign(waited_duration  = lambda x : x['data3'])
)

,callid,time,data3,event,waited_duration
278,1730469809.309043,2024-11-01 19:33:43.000,14.0,ABANDON,14.0
428,1730487025.310314,2024-11-02 00:20:35.000,10.0,ABANDON,10.0
435,1730486968.310302,2024-11-02 00:23:02.000,214.0,ABANDON,214.0
436,1730487053.310327,2024-11-02 00:23:48.000,175.0,ABANDON,175.0
488,1730489615.310634,2024-11-02 01:03:36.000,1.0,ABANDON,1.0
...,...,...,...,...,...
9194,1730473973.500228,2024-11-01 20:44:08.000,75.0,ABANDON,75.0
9244,1730483457.500525,2024-11-01 23:21:08.000,11.0,ABANDON,11.0
9329,1730460337.499312,2024-11-01 16:56:23.000,46.0,ABANDON,46.0
9494,1730477308.500421,2024-11-01 21:38:48.000,20.0,ABANDON,20.0
9740,1730463588.499570,2024-11-01 17:50:57.000,69.0,ABANDON,69.0

In [74]:
call_log[['callid','event']].head(30)

                callid           event
100  1730447458.306459    RINGNOANSWER
101  1730446887.306390   COMPLETEAGENT
102  1730446982.306404      ENTERQUEUE
103  1730446982.306404         CONNECT
104  1730446982.306404   COMPLETEAGENT
105  1730447510.306479    RINGNOANSWER
106  1730447558.306498    RINGNOANSWER
107  1730447556.306496    RINGNOANSWER
108  1730447558.306498    RINGNOANSWER
111  1730447635.306520    RINGNOANSWER
112  1730447635.306520    RINGNOANSWER
113  1730447657.306531    RINGNOANSWER
114  1730447656.306529    RINGNOANSWER
115  1730447663.306536    RINGNOANSWER
116  1730447663.306536    RINGNOANSWER
117  1730447818.306560    RINGNOANSWER
118  1730447818.306560    RINGNOANSWER
119  1730447783.306558      ENTERQUEUE
120  1730447783.306558         CONNECT
122  1730446228.306272         CONNECT
123  1730447510.306479  COMPLETECALLER
124  1730447753.306556   COMPLETEAGENT
125  1730447842.306571  COMPLETECALLER
126  1730447663.306536  COMPLETECALLER
129  1730448104.306596  COMPLETECALLER
130  1730448616.306666      ENTERQUEUE
131  1730448620.306668      ENTERQUEUE
132  1730448620.306668         CONNECT
133  1730448620.306668   COMPLETEAGENT
134  1730448616.306666         CONNECT

In [77]:
call_log.query("event in ('COMPLETECALLER','COMPLETEAGENT')")

,entrydate,time,callid,data1,data2,data3,data4,data5,container_id,skillset,circle,zone,agent_name,state,queuename,agent,event
101,2024-11-02 01:40:30.000,2024-11-01 13:11:51.000,1730446887.306390,23.0,1,1.0,NaN,NaN,WBACDIVRSDC0007,SK_SET: LL_BfoneSer_Ben_KOL,KOL,EZ,Shana khatoon,NaN,6200,PJSIP/2284,COMPLETEAGENT
104,2024-11-02 01:40:30.000,2024-11-01 13:14:38.000,1730446982.306404,1.0,95,2.0,NaN,NaN,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Ben_KOL,KOL,EZ,Soumen Garai,NaN,6200,PJSIP/2320,COMPLETEAGENT
123,2024-11-02 01:40:30.000,2024-11-01 13:28:59.000,1730447510.306479,16.0,413,1.0,NaN,NaN,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Ben_KOL,KOL,EZ,Minati Das\t,NaN,6200,PJSIP/2312,COMPLETECALLER
124,2024-11-02 01:40:30.000,2024-11-01 13:29:05.000,1730447753.306556,0.0,191,1.0,NaN,NaN,WBACDIVRSDC0007,SK_SET: LL_BfoneSer_Ben_LSA_WB,LSA WB,EZ,Mrinmoy Ruidas,NaN,6200,PJSIP/2276,COMPLETEAGENT
125,2024-11-02 01:40:30.000,2024-11-01 13:29:11.000,1730447842.306571,6.0,103,1.0,NaN,NaN,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Ben_KOL,KOL,EZ,Shana khatoon,NaN,6200,PJSIP/2284,COMPLETECALLER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,2024-11-02 01:30:43.000,2024-11-01 15:02:20.000,1730453466.536802,1.0,73,1.0,NaN,NaN,TNACDIVRSDC0002,SK_SET: LL_BfoneSer_Tml_TL,TN,SZ,Anish K,NaN,6200,PJSIP/1453,COMPLETECALLER
9992,2024-11-02 01:30:43.000,2024-11-01 15:02:22.000,1730453464.536800,1.0,77,1.0,NaN,NaN,TNACDIVRSDC0002,SK_SET:BB_CNPcsexe_Tml_TL,TN,SZ,Leo Shali S,NaN,6200,PJSIP/1454,COMPLETECALLER
9995,2024-11-02 01:30:43.000,2024-11-01 15:03:09.000,1730453301.536782,1.0,287,1.0,NaN,NaN,TNACDIVRSDC0002,SK_SET:BB_CNPcsexe_Tml_TL,TN,SZ,Vijina C U,NaN,6200,PJSIP/1460,COMPLETECALLER
9996,2024-11-02 01:30:43.000,2024-11-01 15:03:11.000,1730453468.536804,1.0,122,1.0,NaN,NaN,TNACDIVRSDC0002,SK_SET:BB_Billenq_Tml_TL,TN,SZ,Abisha D,NaN,6200,PJSIP/1462,COMPLETECALLER
10000,2024-11-02 01:30:43.000,2024-11-01 15:07:55.000,1730453857.536836,1.0,17,1.0,NaN,NaN,TNACDIVRSDC0002,SK_SET:BB_CNPcsexe_Hin_TL,TN,SZ,Abisha M-SBM348,NaN,6200,PJSIP/1471,COMPLETECALLER

In [53]:
def find_hold_time(group: pd.DataFrame):
    if not group.shape[0]>2:
        return 0
    if group['event'].iloc[-2]=='HOLD':
        group['event'].iloc[-1] = 'UNHOLD'
    return group.assign(
            duration = lambda x: pd.to_datetime(x['time']).diff()#.dt.total_seconds()
        ).query('event == "UNHOLD"')['duration'].sum()

In [79]:
groupy = (
    call_log
    .groupby('callid')
    .size()
  
  
    
)

print(groupy)

callid
1730444186.305990    1
1730444310.506919    1
1730444460.506929    3
1730444519.506933    3
1730444527.506935    3
                    ..
1730488210.310597    3
1730488701.310605    3
1730489060.310613    3
1730489304.310621    2
1730489615.310634    4
Length: 2788, dtype: int64