In [2]:
import pandas as pd
import numpy as np

In [147]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]], columns=["A", "B", "C"], index=["u","v","w", "x"])

In [14]:
df.head()

    A   B   C
u   1   2   3
v   4   5   6
w   7   8   9
x  10  11  12

In [3]:
log=pd.read_csv('./data/acdlog_oracle_db.csv', low_memory=False)

In [4]:
log.head()

,ENTRYDATE,TIME,CALLID,Q_NAME,Q_AGENT,Q_EVENT,DATA1,DATA2,DATA3,DATA4,DATA5,CONTAINER_ID,SKILLSET,CIRCLE,ZONE,AGENT_NAME,STATE
0,2024-11-02 01:40:30.000,2024-11-01 13:35:10.000,1730448292.306616,6200,PJSIP/2294,COMPLETEAGENT,16.0,2,1.0,NaN,NaN,WBACDIVRSDC0007,SK_SET:LL_Bfoneser_Hin_KOL,KOL,EZ,Babita kumari show,NaN
1,2024-11-02 01:40:30.000,2024-11-01 13:35:10.000,1730448149.306601,6200,PJSIP/2289,COMPLETECALLER,1.0,160,1.0,NaN,NaN,WBACDIVRSDC0007,SK_SET:NV_NVSer_Ben_KOL,KOL,EZ,Amisha Shaw,NaN
2,2024-11-02 01:40:30.000,2024-11-01 13:35:13.000,1730448313.306628,6200,NONE,ENTERQUEUE,NaN,9475364904,1.0,NaN,NaN,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Ben_LSA_WB,LSA WB,EZ,NaN,NaN
3,2024-11-02 01:40:30.000,2024-11-01 13:35:14.000,1730448313.306628,6200,PJSIP/2311,CONNECT,1.0,1730448313.306629,0.0,NaN,NaN,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Ben_LSA_WB,LSA WB,EZ,Lipika Mondal,NaN
4,2024-11-02 01:40:30.000,2024-11-01 13:35:28.000,1730448328.306630,6200,NONE,ENTERQUEUE,NaN,8927536640,1.0,NaN,NaN,WBACDIVRSDC0007,SK_SET:NV_NVSer_Ben_KOL,KOL,EZ,NaN,NaN

In [5]:
log.columns

Index(['ENTRYDATE', 'TIME', 'CALLID', 'Q_NAME', 'Q_AGENT', 'Q_EVENT', 'DATA1',
       'DATA2', 'DATA3', 'DATA4', 'DATA5', 'CONTAINER_ID', 'SKILLSET',
       'CIRCLE', 'ZONE', 'AGENT_NAME', 'STATE'],
      dtype='object')

In [6]:
newlog = log.loc[100:10000]

In [7]:
# Filter rows where Q_EVENT is in the specified list
filtered_log = newlog.query("Q_EVENT in ['EXITEMPTY','COMPLETEAGENT','COMPLETECALLER','ABANDON']")

# Extract the unique 'callid' values
callids = filtered_log['CALLID'].unique()

# Query all rows from the original log where 'callid' matches the obtained callids
all_events_for_callids = newlog[newlog['CALLID'].isin(callids)]

# Display the filtered result
print(all_events_for_callids)

                     ENTRYDATE                     TIME             CALLID  \
100    2024-11-02 01:40:30.000  2024-11-01 13:21:09.000  1730447458.306459
101    2024-11-02 01:40:30.000  2024-11-01 13:11:51.000  1730446887.306390
102    2024-11-02 01:40:30.000  2024-11-01 13:13:02.000  1730446982.306404
103    2024-11-02 01:40:30.000  2024-11-01 13:13:03.000  1730446982.306404
104    2024-11-02 01:40:30.000  2024-11-01 13:14:38.000  1730446982.306404
...                        ...                      ...                ...
9992   2024-11-02 01:30:43.000  2024-11-01 15:02:22.000  1730453464.536800
9995   2024-11-02 01:30:43.000  2024-11-01 15:03:09.000  1730453301.536782
9996   2024-11-02 01:30:43.000  2024-11-01 15:03:11.000  1730453468.536804
9999   2024-11-02 01:30:43.000  2024-11-01 15:07:38.000  1730453857.536836
10000  2024-11-02 01:30:43.000  2024-11-01 15:07:55.000  1730453857.536836

      Q_NAME     Q_AGENT         Q_EVENT   DATA1              DATA2  DATA3  \
100     6200  PJSIP/2278    RINGNOANSWER  1000.0                NaN    NaN
101     6200  PJSIP/2284   COMPLETEAGENT    23.0                  1    1.0
102     6200        NONE      ENTERQUEUE     NaN         8335904030    2.0
103     6200  PJSIP/2320         CONNECT     1.0  1730446982.306405    0.0
104     6200  PJSIP/2320   COMPLETEAGENT     1.0                 95    2.0
...      ...         ...             ...     ...                ...    ...
9992    6200  PJSIP/1454  COMPLETECALLER     1.0                 77    1.0
9995    6200  PJSIP/1460  COMPLETECALLER     1.0                287    1.0
9996    6200  PJSIP/1462  COMPLETECALLER     1.0                122    1.0
9999    6200  PJSIP/1471         CONNECT     1.0  1730453857.536837    0.0
10000   6200  PJSIP/1471  COMPLETECALLER     1.0                 17    1.0

       DATA4  DATA5     CONTAINER_ID                     SKILLSET CIRCLE ZONE  \
100      NaN    NaN  WBACDIVRSDC0007   SK_SET:BB_CNPcsexe_Ben_KOL    KOL   EZ
101      NaN    NaN  WBACDIVRSDC0007  SK_SET: LL_BfoneSer_Ben_KOL    KOL   EZ
102      NaN    NaN  WBACDIVRSDC0007   SK_SET:BB_CNPcsexe_Ben_KOL    KOL   EZ
103      NaN    NaN  WBACDIVRSDC0007   SK_SET:BB_CNPcsexe_Ben_KOL    KOL   EZ
104      NaN    NaN  WBACDIVRSDC0007   SK_SET:BB_CNPcsexe_Ben_KOL    KOL   EZ
...      ...    ...              ...                          ...    ...  ...
9992     NaN    NaN  TNACDIVRSDC0002    SK_SET:BB_CNPcsexe_Tml_TL     TN   SZ
9995     NaN    NaN  TNACDIVRSDC0002    SK_SET:BB_CNPcsexe_Tml_TL     TN   SZ
9996     NaN    NaN  TNACDIVRSDC0002     SK_SET:BB_Billenq_Tml_TL     TN   SZ
9999     NaN    NaN  TNACDIVRSDC0002    SK_SET:BB_CNPcsexe_Hin_TL     TN   SZ
10000    NaN    NaN  TNACDIVRSDC0002    SK_SET:BB_CNPcsexe_Hin_TL     TN   SZ

            AGENT_NAME  STATE
100         Puja murmu    NaN
101      Shana khatoon    NaN
102                NaN    NaN
103       Soumen Garai    NaN
104       Soumen Garai    NaN
...                ...    ...
9992       Leo Shali S    NaN
9995       Vijina C U     NaN
9996         Abisha  D    NaN
9999   Abisha M-SBM348    NaN
10000  Abisha M-SBM348    NaN

[9160 rows x 17 columns]

In [8]:
newlog.shape

(9901, 17)

In [9]:
newlog.sample(10)

,ENTRYDATE,TIME,CALLID,Q_NAME,Q_AGENT,Q_EVENT,DATA1,DATA2,DATA3,DATA4,DATA5,CONTAINER_ID,SKILLSET,CIRCLE,ZONE,AGENT_NAME,STATE
2241,2024-11-02 01:40:30.000,2024-11-01 14:22:32.000,1730451151.307012,6200,PJSIP/2262,CONNECT,1.0,1730451151.307013,0.0,NaN,NaN,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Hin_LSA_WB,LSA WB,EZ,Payel Banerjee,NaN
7210,2024-11-02 01:30:48.000,2024-11-01 19:45:47.000,1730470547.509177,6200,PJSIP/1558,CONNECT,0.0,1730470547.509178,0.0,NaN,NaN,APACDIVRSDC0003,SK_SET: BB_CNPcsexe_Tel_TS,TS,SZ,Beerelli Ganesh,NaN
2444,2024-11-02 01:38:08.000,2024-11-01 20:27:42.000,1730473062.271016,6200,NONE,ENTERQUEUE,NaN,7070563494,1.0,NaN,NaN,BRACDIVRSDC0006,SK_SET:LL_Bfoneser_Hin_LSA_BR,LSA BR,EZ,NaN,NaN
6556,2024-11-02 01:30:48.000,2024-11-01 15:31:42.000,NONE,6200,PJSIP/1557,UNPAUSE,NaN,NaN,NaN,NaN,NaN,APACDIVRSDC0003,NaN,NaN,SZ,Sheri Abdul Younus,NaN
6939,2024-11-02 01:30:48.000,2024-11-01 12:50:15.000,1730445615.507039,6200,NONE,ENTERQUEUE,NaN,9052565277,1.0,NaN,NaN,APACDIVRSDC0003,SK_SET:BB_CNPcsexe_Tel_TG,AP,SZ,NaN,NaN
5081,2024-11-02 01:33:06.000,2024-11-01 15:57:44.000,1730456844.162926,6200,PJSIP/1784,RINGNOANSWER,5000.0,NaN,NaN,NaN,NaN,ORACDIVRSDC0008,SK_SET: LL_BfoneSer_Ori_OR,OR,EZ,Rakesh Dom,NaN
2562,2024-11-02 01:38:08.000,2024-11-01 17:46:50.000,1730463409.270147,6200,PJSIP/2593,CONNECT,1.0,1730463409.270148,0.0,NaN,NaN,BRACDIVRSDC0006,SK_SET:NV_NVSer_Hin_LSA_BR,LSA BR,EZ,Gourav Poddar,NaN
6578,2024-11-02 01:30:48.000,2024-11-01 16:49:39.000,1730459871.508294,6200,PJSIP/1557,COMPLETEAGENT,31.0,77,2.0,NaN,NaN,APACDIVRSDC0003,SK_SET: LL_BfoneSer_Tel_TS,TS,SZ,Sheri Abdul Younus,NaN
5122,2024-11-02 01:33:06.000,2024-11-01 12:33:59.000,1730444639.161729,6200,NONE,ENTERQUEUE,NaN,9337274419,1.0,NaN,NaN,ORACDIVRSDC0008,SK_SET:BB_CNPcsexe_Ori_OR,OR,EZ,NaN,NaN
7779,2024-11-02 01:30:48.000,2024-11-01 13:49:00.000,1730449112.507363,6200,PJSIP/1554,COMPLETECALLER,0.0,27,1.0,NaN,NaN,APACDIVRSDC0003,SK_SET:BB_CNPcsexe_Tel_TG,AP,SZ,Janmula Rajeshwari,NaN

In [10]:
newlog.columns = newlog.columns.str.lower()

In [11]:
call_log= newlog.assign(
        queuename= lambda x: x.q_name.astype('category'),
        agent = lambda x: x.q_agent.astype('category'),
        event = lambda x: x.q_event.astype('category'),
    ).drop(columns=['q_name', 'q_agent', 'q_event'])

In [12]:
call_log

,entrydate,time,callid,data1,data2,data3,data4,data5,container_id,skillset,circle,zone,agent_name,state,queuename,agent,event
100,2024-11-02 01:40:30.000,2024-11-01 13:21:09.000,1730447458.306459,1000.0,NaN,NaN,NaN,NaN,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Ben_KOL,KOL,EZ,Puja murmu,NaN,6200,PJSIP/2278,RINGNOANSWER
101,2024-11-02 01:40:30.000,2024-11-01 13:11:51.000,1730446887.306390,23.0,1,1.0,NaN,NaN,WBACDIVRSDC0007,SK_SET: LL_BfoneSer_Ben_KOL,KOL,EZ,Shana khatoon,NaN,6200,PJSIP/2284,COMPLETEAGENT
102,2024-11-02 01:40:30.000,2024-11-01 13:13:02.000,1730446982.306404,NaN,8335904030,2.0,NaN,NaN,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Ben_KOL,KOL,EZ,NaN,NaN,6200,NONE,ENTERQUEUE
103,2024-11-02 01:40:30.000,2024-11-01 13:13:03.000,1730446982.306404,1.0,1730446982.306405,0.0,NaN,NaN,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Ben_KOL,KOL,EZ,Soumen Garai,NaN,6200,PJSIP/2320,CONNECT
104,2024-11-02 01:40:30.000,2024-11-01 13:14:38.000,1730446982.306404,1.0,95,2.0,NaN,NaN,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Ben_KOL,KOL,EZ,Soumen Garai,NaN,6200,PJSIP/2320,COMPLETEAGENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,2024-11-02 01:30:43.000,2024-11-01 15:03:11.000,1730453468.536804,1.0,122,1.0,NaN,NaN,TNACDIVRSDC0002,SK_SET:BB_Billenq_Tml_TL,TN,SZ,Abisha D,NaN,6200,PJSIP/1462,COMPLETECALLER
9997,2024-11-02 01:30:43.000,2024-11-01 15:03:47.000,1730453626.536820,NaN,9840289737,1.0,NaN,NaN,TNACDIVRSDC0002,SK_SET: LL_Bfoneser_Eng_TL,TN,SZ,NaN,NaN,6200,NONE,ENTERQUEUE
9998,2024-11-02 01:30:43.000,2024-11-01 15:03:47.000,1730453626.536820,0.0,1730453627.536821,0.0,NaN,NaN,TNACDIVRSDC0002,SK_SET: LL_Bfoneser_Eng_TL,TN,SZ,Vijina C U,NaN,6200,PJSIP/1460,CONNECT
9999,2024-11-02 01:30:43.000,2024-11-01 15:07:38.000,1730453857.536836,1.0,1730453857.536837,0.0,NaN,NaN,TNACDIVRSDC0002,SK_SET:BB_CNPcsexe_Hin_TL,TN,SZ,Abisha M-SBM348,NaN,6200,PJSIP/1471,CONNECT
10000,2024-11-02 01:30:43.000,2024-11-01 15:07:55.000,1730453857.536836,1.0,17,1.0,NaN,NaN,TNACDIVRSDC0002,SK_SET:BB_CNPcsexe_Hin_TL,TN,SZ,Abisha M-SBM348,NaN,6200,PJSIP/1471,COMPLETECALLER

In [13]:
(
    call_log
    .query("event in ['ENTERQUEUE', 'CONNECT', 'ADDMEMBER', 'COMPLETECALLER', 'COMPLETEAGENT', 'ABANDON', 'EXITEMPTY']")
    .pivot_table(index='callid', columns='event', values='time', aggfunc='first',observed=False)
    .assign(
        COMPLETE=lambda x: x['COMPLETEAGENT'].combine_first(x['COMPLETECALLER']),  # Prioritize COMPLETEAGENT, fallback to COMPLETECALLER
        AGENT_COMPLETED=lambda x: x['COMPLETEAGENT'].notna()                      # True if COMPLETEAGENT has data
    )
    [['ENTERQUEUE', 'ABANDON', 'EXITEMPTY', 'CONNECT', 'COMPLETE', 'AGENT_COMPLETED']]  # Final column selection
)

event,ENTERQUEUE,ABANDON,EXITEMPTY,CONNECT,COMPLETE,AGENT_COMPLETED
callid,,,,,,
1730444186.305990,NaN,NaN,NaN,NaN,2024-11-01 12:37:36.000,False
1730444310.506919,NaN,NaN,NaN,NaN,2024-11-01 12:30:40.000,False
1730444460.506929,2024-11-01 12:31:00.000,NaN,NaN,2024-11-01 12:31:00.000,2024-11-01 12:31:25.000,False
1730444519.506933,2024-11-01 12:31:59.000,NaN,NaN,2024-11-01 12:32:00.000,2024-11-01 12:32:12.000,True
1730444527.506935,2024-11-01 12:32:07.000,NaN,NaN,2024-11-01 12:32:07.000,2024-11-01 12:32:51.000,True
...,...,...,...,...,...,...
1730489549.310624,NaN,NaN,NaN,NaN,NaN,False
1730489557.271729,NaN,NaN,NaN,NaN,NaN,False
1730489561.271731,NaN,NaN,NaN,NaN,NaN,False
1730489563.310626,NaN,NaN,NaN,NaN,NaN,False
1730489615.310634,2024-11-02 01:03:35.000,2024-11-02 01:03:36.000,NaN,NaN,NaN,False

In [14]:
(
    call_log.query("event=='ENTERQUEUE'")
    [['callid','time','queuename','data2']]
    .rename(columns={'data2':'src','time':'ENTERQUEUE'})
)

                 callid               ENTERQUEUE queuename         src
102   1730446982.306404  2024-11-01 13:13:02.000      6200  8335904030
119   1730447783.306558  2024-11-01 13:26:23.000      6200  9883082611
127   1730448149.306601  2024-11-01 13:32:29.000      6200  9681888148
130   1730448616.306666  2024-11-01 13:40:16.000      6200  9830905647
131   1730448620.306668  2024-11-01 13:40:20.000      6200  9836457719
...                 ...                      ...       ...         ...
9984  1730453466.536802  2024-11-01 15:01:06.000      6200  9840941686
9986  1730453468.536804  2024-11-01 15:01:08.000      6200  6369691631
9988  1730453506.536806  2024-11-01 15:01:47.000      6200  9600020482
9993  1730453587.536814  2024-11-01 15:03:07.000      6200  9751728426
9997  1730453626.536820  2024-11-01 15:03:47.000      6200  9840289737

[2775 rows x 4 columns]

In [15]:
(
    call_log.query("event=='CONNECT'")
    [['callid','time','agent','data1']]
    .assign(waited_duration  = lambda x : x.data1.astype('float'))
    .rename(columns={'time':'CONNECT'})
    
    # .info()
)

,callid,CONNECT,agent,data1,waited_duration
103,1730446982.306404,2024-11-01 13:13:03.000,PJSIP/2320,1.0,1.0
120,1730447783.306558,2024-11-01 13:26:24.000,PJSIP/2295,1.0,1.0
122,1730446228.306272,2024-11-01 13:00:39.000,PJSIP/2291,11.0,11.0
128,1730448149.306601,2024-11-01 13:32:29.000,PJSIP/2289,0.0,0.0
132,1730448620.306668,2024-11-01 13:40:31.000,PJSIP/2284,11.0,11.0
...,...,...,...,...,...
9987,1730453468.536804,2024-11-01 15:01:09.000,PJSIP/1462,1.0,1.0
9989,1730453506.536806,2024-11-01 15:01:47.000,PJSIP/1471,0.0,0.0
9994,1730453587.536814,2024-11-01 15:03:08.000,PJSIP/1454,1.0,1.0
9998,1730453626.536820,2024-11-01 15:03:47.000,PJSIP/1460,0.0,0.0
9999,1730453857.536836,2024-11-01 15:07:38.000,PJSIP/1471,1.0,1.0

In [16]:
(
    call_log.query("event in ('COMPLETECALLER','COMPLETEAGENT')")
    [['callid','time','data2']]
    .assign(call_duration  = lambda x : x.data2.astype('float'))
    .rename(columns={'time':'COMPLETE'})
)

                  callid                 COMPLETE data2  call_duration
101    1730446887.306390  2024-11-01 13:11:51.000     1            1.0
104    1730446982.306404  2024-11-01 13:14:38.000    95           95.0
123    1730447510.306479  2024-11-01 13:28:59.000   413          413.0
124    1730447753.306556  2024-11-01 13:29:05.000   191          191.0
125    1730447842.306571  2024-11-01 13:29:11.000   103          103.0
...                  ...                      ...   ...            ...
9991   1730453466.536802  2024-11-01 15:02:20.000    73           73.0
9992   1730453464.536800  2024-11-01 15:02:22.000    77           77.0
9995   1730453301.536782  2024-11-01 15:03:09.000   287          287.0
9996   1730453468.536804  2024-11-01 15:03:11.000   122          122.0
10000  1730453857.536836  2024-11-01 15:07:55.000    17           17.0

[2714 rows x 4 columns]

In [20]:
(
    call_log.query("event in ('ABANDON','EXITEMPTY')")
    [['callid','time','data3','event']]
    .assign(waited_duration  = lambda x : x['data3'])
)

,callid,time,data3,event,waited_duration
278,1730469809.309043,2024-11-01 19:33:43.000,14.0,ABANDON,14.0
428,1730487025.310314,2024-11-02 00:20:35.000,10.0,ABANDON,10.0
435,1730486968.310302,2024-11-02 00:23:02.000,214.0,ABANDON,214.0
436,1730487053.310327,2024-11-02 00:23:48.000,175.0,ABANDON,175.0
488,1730489615.310634,2024-11-02 01:03:36.000,1.0,ABANDON,1.0
...,...,...,...,...,...
9194,1730473973.500228,2024-11-01 20:44:08.000,75.0,ABANDON,75.0
9244,1730483457.500525,2024-11-01 23:21:08.000,11.0,ABANDON,11.0
9329,1730460337.499312,2024-11-01 16:56:23.000,46.0,ABANDON,46.0
9494,1730477308.500421,2024-11-01 21:38:48.000,20.0,ABANDON,20.0
9740,1730463588.499570,2024-11-01 17:50:57.000,69.0,ABANDON,69.0

In [136]:
grouped_log = newlog.groupby('callid').size()  # Counts rows for each callid
print(grouped_log)

callid
1730444186.305990      1
1730444310.506919      1
1730444460.506929      3
1730444519.506933      3
1730444527.506935      3
                    ...
1730489561.271731      1
1730489563.310626      1
1730489615.310634      4
CLI                  146
NONE                 250
Length: 3102, dtype: int64

In [137]:
grouped_log

callid
1730444186.305990      1
1730444310.506919      1
1730444460.506929      3
1730444519.506933      3
1730444527.506935      3
                    ...
1730489561.271731      1
1730489563.310626      1
1730489615.310634      4
CLI                  146
NONE                 250
Length: 3102, dtype: int64